*.pyc
*~
*.swp
*.swo
.idea/
env/

data_process/untitled1.py
data_process/videodatainfo_2017.json

data_process/Tempuckey/captions
data_process/Tempuckey/videos
data_process/Tempuckey/video_pool
data_process/Tempuckey/feature
data_process/Tempuckey/TextData

data_process/Tempuckey/log.txt
data_process/Tempuckey/vocab.py
data_process/Tempuckey/TempuckeyDataset.json
data_process/Tempuckey/feature_with_bow/
data_process/Tempuckey/msrvtt_eval/
data_process/Tempuckey/msrvtt_test/
data_process/Tempuckey/msrvtt_train/